<%- include('header'); -%>

<body>

    <div class="heading">
        <h1 onclick="location.href='/'">HabitDrive</h1>
        <div class="head-links">
            <h4 class="head-link" onclick="location.href='/feed'">Feed</h4>
            <% if (signedIn) { %>
            <h4 class="head-link" onclick="location.href='/create'">Create</h4>
            <h4 class="head-link"><%= currentUser %></h4>
            <% } else { %>
            <h4 class="head-link" onclick="location.href='/login'">Login</h4>
            <% } %>
        </div>
    </div>


    <div class="posts">
        <% if (signedIn) { %>
            
        %< } else { %>
            <h1>No posts for you</h1>
        <% { %>
    </div>


<%- include('footer'); -%>

<!-- <% for (let i = results.length; i >= 0; i--) { %>
    <div>
        <h3><%= results[i].name %></h3>
        <h3><%= results[i].post %></h3>
        <h3>Good Job!:<%= results[i].up %></h3>
        <h3>Room to improve:<%= results[i].down %></h3>
    </div>
<% } %> -->